body {
	background-color: #333333;
font-family: 'Lato', sans-serif;
}

.head {
	background-color: #876798;
	color: #ebebec;
	height: 300px;
	padding-top: 80px;
	padding-left: 10%;
}
h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 60px;
}

h2 {
	padding-top: 20px;
	padding-left: 15%;
}
.styleresults {
	background-color: #202020;
	color: #aaaaab;
	padding: 20px;
}

.buttonbar {
	background-color: #440567;
	padding-top:5px;
	padding-bottom:5px;
}

.btn {
	color: #ebebec;
	font-family: 'Press Start 2P';
}

a:link {
	color: #9539c6;

}
a:visited {
	color: #876798;
}
a: hover {
	#ebebec
}
a:active {

}
