body {
	background-color: #333333;
font-family: 'Lato', sans-serif;
}

.head {
	background-color: #876798;
	color: #ebebec;
	height: 300px;
	padding-top: 80px;
	padding-left: 10%;
	position: relative;
}
h1 {
	font-family: 'Press Start 2P', cursive;

}

h2 {
	padding-top: 20px;
	padding-left: 15%;

}

.signature {
	position:absolute;
	padding-right: 10px;
	bottom:0;
	right:0;
}

a.social:link, a.social:visited {
	color: #ebebec;
}

.styleresults {
	background-color: #202020;
	color: #cbcbcd;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.buttonbar {
	background-color: #440567;
	padding-top:5px;
	padding-bottom:5px;
}

.btn {
	color: #ebebec;
	font-family: 'Press Start 2P';
}

a:link {
	color: #9539c6;

}
a:visited {
	color: #876798;
}
a: hover {
	color: #ebebec;
}


a.bioLink:link, a.bioLink:visited {
	color: #cbcbcd;
}
a.bioLink:hover {
	text-decoration: none;
	color: #9539c6;
}


.userdiv {
	margin-bottom: 30px;
}
